@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --body-color: #666659;
    --body-font: 15px/26px Source Sans Pro, sans serif;
    --body-background: #FBFAF8;
    --header-height: 3rem;
    --nav-width: 68px;
    --brand-color: #1877F2;
    --first-color:  #1877F2;
    --first-color-light: #efeef1;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}
*,
::before,
::after {
    box-sizing: border-box
}